
@{
    ViewBag.Title = "List of Tenants";
}

<h2>List of Tenants</h2>

<p id="paragraph1">
    <a class="modalButton pointerCursor btn btn-default specialbtn" style="cursor:pointer" id="clickMe">Add a Tenant</a>
  
</p>


<!--Start of Modal div-->
<div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("AddTenant","Tenant")"></div>
<!--End of Modal div-->
<table class="table table-striped table-bordered modifiedTable" id="mytable">

    <thead>
        <tr class="table-header">
            <th>Name</th>
            <th>Addresss</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>


</table>

<p>
    <hr />
    @Html.ActionLink("Go to Transaction List", "Index", new { controller = "Transaction" }, new { @class = "btn btn-default specialbtn" })
</p>

@section scripts {
    <script type="text/javascript" charset="utf8">

        //Start of Script for AddTenant Modal submit
        function onChangeSuccessAddTenant(data) {
          
            if (data.status === "success") {
              
                $("#myModal").modal('hide');
                //$("#message-area").html(data.view);
                location.reload();
            }
            $.each(data.formErrors, function () {
                $("[data-valmsg-for=" + this.key + "]").html(this.errors.join());
            });
        }   //End of Script for AddTenant Modal submit

        $(document).ready(function () {
            var isAdministrator = '@ViewBag.isAdmin';

          
            //Start of DataTable
            $("#mytable").DataTable({
                "ajax": {
                    "url": "/Tenant/GetListServerSide",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                { 'data': 'TenantName', 'name': 'TenantName' },
                { 'data': 'TenantAddress', 'name': 'TenantAddress' },
                { 'data': 'TenantPhoneNumber', 'name': 'TenantPhoneNumber' },
                { 'data': 'TenantId', 'name': 'Action' }
                ],
                "serverSide": "true",
                "order": [0, "asc"],

                'columnDefs': [
                 {
                     'render': function (Action, type, full, meta) {
                         var viewAction = '';
                         var transactionAction = '';
                         var editAction = '';
                         var deleteAction = '';

                         /*View Link*/
                         var url = '@Url.Action("ViewTenantDetails", "Tenant")';
                         var urlparam = url + '?id=';
                         viewAction = '<a  href="' + urlparam + Action + '">View Tenant Details</a>';

                         if (isAdministrator=='True')
                         {
                             /*Transactions Link*/
                             var urlTransaction = '@Url.Action("AddEditTransactions", "Transaction")';
                             var urlparamTransaction = urlTransaction + '?id=';
                             transactionAction = ' | <a  href="' + urlparamTransaction + Action + '">Add/Edit Transactions</a>';

                             /*Edit Link*/
                             var urlEdit = '@Url.Action("EditTenantDetails", "Tenant")';
                             var urlparamEdit = urlEdit + '?id=';
                             editAction = ' | <a  href="' + urlparamEdit + Action + '">Edit Tenant Details</a>';

                     

                             /*Delete Link*/
                             var urlDelete = '@Url.Action("DeleteTenantDetails", "Tenant")';
                             var urlparamDelete = urlDelete + '?id=';
                             deleteAction = ' | <a  href="' + urlparamDelete + Action + '">Delete Tenant</a>';

                         }

                         var finalAction = viewAction + transactionAction +  editAction + deleteAction;

                          return finalAction;
                     },
                     'targets': -1, /* column index */ 'orderable': false, /* true or false */
                 }
                ]
            });  //End of DataTable

           
            //Start of Modal Script
            $('.modalButton').click(function () {
            
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');

                });

            });//End of Modal script



        }); //End of document.ready

    </script>



    }